{% load static %}
{% load markdownify %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>
            {% comment %} <img src="{% static 'favicon.ico' %}" /> {% endcomment %}
            {% comment %} <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/> {% endcomment %}
            {% block title %}
                {{ title }} - Encyclopedia
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form action="/wiki/Search">
                    <input class="search" type="text" autocapitalize="off" autocomplete="off" name="query" placeholder="Search Encyclopedia">
                </form>
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    <a href="/wiki/New" >Create New Page</a>
                </div>
                <div>
                    <a href="/wiki/Random" >Random Page</a>
                </div>
                {% block nav %}
                {% endblock nav %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                    {{ body | markdownify | safe }}
                    
                    {% block new_entry %}
                    {% endblock new_entry %}
                {% endblock body %}
                
                {% block error_body %}
                {% endblock error_body %}
            </div>
        </div>
    </body>
</html>